.new-quiz-button {
    background-color: #646f65; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 600px;
  }
 
  .new-quiz-button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
  }
  
  .new-quiz-button:focus {
    outline: none;
  }
  
  .new-quiz-button:active {
    background-color: #388e3c; 
  }
  